Checks: "bugprone-*,\
clang-analyzer-*,\
modernize-*,\
-modernize-use-bool-literals,\
-modernize-pass-by-value,\
-modernize-use-auto,\
-modernize-raw-string-literal,\
-modernize-return-braced-init-list,\
cppcoreguidelines-*,\
-cppcoreguidelines-pro-type-vararg,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-bounds-constant-array-index,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
misc-*,\
llvm-namespace-comment,\
readability-*,\
-readability-implicit-bool-cast,\
-readability-else-after-return,\
-readability-redundant-declaration,\
-readability-named-parameter,\
-readability-braces-around-statements,\
-readability-implicit-bool-conversion,\
performance-*,\
-clang-analyzer-core.CallAndMessage,\
-clang-analyzer-security.FloatLoopCounter,\
google-explicit-constructor"

#cppcoreguidelines-pro-type-vararg is raised by ROS_INFO/ROS_WARN etc.
#cppcoreguidelines-pro-bounds-array-to-pointer-decay is raised by ROS_INFO/ROS_WARN etc.
